<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e3b0ce9e-4fa9-4c86-ad6f-33ee1d81a99f/resourceGroups/SchoolManage/providers/Microsoft.Web/sites/grpc-class-server</ResourceId>
    <ResourceGroup>SchoolManage</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://grpc-class-server.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>181894e9-b2d1-4119-8d47-422866f29342</ProjectGuid>
    <PublishUrl>https://grpc-class-server.scm.azurewebsites.net/</PublishUrl>
    <UserName>$grpc-class-server</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>